﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="<%: Url.Content("~/Scripts/jquery-1.9.1.min.js") %>" type="text/javascript"></script>
    <script src="<%: Url.Content("~/Scripts/modernizr-1.7.min.js") %>" type="text/javascript"></script>
    <script src="<%: Url.Content("~/Scripts/bootstrap.min.js") %>" type="text/javascript"></script>
    <style>
        body{ padding-top: 80px;}
    </style>
</head>
<body>
       <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Assambling S.A.</a>
                </div>
                <%if (Request.IsAuthenticated)
                  { %>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><%: Html.ActionLink("Home", "Index", "Home")%></li>
                        <li><%: Html.ActionLink("Piezas", "Index", "Pieza")%></li>
                        <li><%: Html.ActionLink("Modelos", "Index", "Modelo")%></li>
                        <li><%: Html.ActionLink("Sectores", "Index", "Sector")%></li>
                        <li><%: Html.ActionLink("Actividad", "Index", "Actividad")%></li>
                        <li><%: Html.ActionLink("Empleados", "Index", "Empleado")%></li>
                        <li><%: Html.ActionLink("Tipo Empleado", "Index", "TipoEmpleado")%></li>
                        <li><%: Html.ActionLink("Sector/Actividad", "Index", "SectorActividad")%></li>
                    </ul>
                <% } %>
                    <ul class="nav navbar-nav navbar-right">
                      <li id="loginDisplay"><% Html.RenderPartial("LogOnUserControl"); %></li>
                    </ul>
                </div>
                </div>
        </nav>
        </header>
        <section id="main">
            <div class="container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <footer>
            </footer>
            </div>
        </section>
</body>
</html>
